# Variables de entorno para el módulo ML
# Copia este archivo como .env.ml y configura tus valores

# Configuración de Base de Datos (Heredado de Laravel)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_DATABASE=DB_DATABASE=ReGpsBase


# Configuración de la API ML
ML_API_HOST=0.0.0.0
ML_API_PORT=8001

# Configuración de Modelos
MODEL_VERSION=v1.0
